.container a {
  padding: 0.0rem 0rem 0rem 0rem; 
  color: white;
}  

.dropdown-menu a {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem; 
  color: black;
}

.container a:hover {
  color: rgb(81, 156, 255);
  text-decoration: none;
}

.container .navi {
  padding-left: 0px;
  margin-left: 0px;
}
