 .top-nav a {
    padding: 0.0rem 0rem 0rem 0rem; 
    color: white;
  }

 

/*
 a:link {
    color: white;
  }
  
  /* visited link */
 /* a:visited {
    color: green;
  } */
  
  /* mouse over link */
 .container a:hover {
    color: rgb(81, 156, 255);
  }
  
  /* selected link */
/*  .top-nav a:active {
    color: red;
  }*/