
 .top-nav a {
    padding: 0.0rem 0rem 0rem 0rem; 
    color: white;
  }

/*
 a:link {
    color: white;
  }
  
  /* visited link */
 /* a:visited {
    color: green;
  } */
  
  /* mouse over link */
  /*a:hover {
    color: rgb(179, 179, 241);
  }
  
  /* selected link */
  .top-nav a:active {
    color: red;
  }